<a href="/rock">Play Rock</a><br />
<a href="/paper">Play Paper</a><br />
<a href="/scissors">Play Scissors</a><br />

<h1>Welcome to Rock-Paper-Scissors!</h1>
<p>



From <a href=\"fhttps://en.wikipedia.org/wiki/Rock–paper–scissors\">Wikipedia</a>: </p> <br>
 <p>
 
 Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.

 </p>
